* {
  box-sizing: border-box;
}

.container{
    max-width: 95%;

    // .mainimg{
    //     display: flex;
    //     flex-flow:row wrap;
    //     .wholesome{
    //         width:500px;
    //         height:300px;
    //         padding:25px;
    //     }
    //     .mainText{
    //         width:250px;
    //         padding-top:70px;
    //     }
    // }
}

 .middle-text {
      padding: 50px;

      @media @mobile {
    padding: 20px;
}
}

.middle-section {
  display: flex;
  flex-direction: row-reverse;
  box-shadow: 0 2px 7px 0 hsla(0,0%,57%,.35);
      margin: 3rem 0;
}

.img2{
  display: block;
    width: 100%;
    max-width: 550px;
    position: relative;

}

.bottom-section {
    margin: 4rem 0;
    margin-bottom: 8rem;
}

ul {
    display: flex;
    justify-content: space-evenly;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    li{
      box-shadow: 0 2px 7px 0 hsla(0,0%,57%,.35);
          list-style-type: none;
    }
}
