
.navBar{
  display: flex;
  justify-content: space-between;
    margin-top:15px;
    margin: 0 -2px;
}

nav{
    display: flex;
    justify-content: flex-end;
    // flex-flow:row wrap;
    width: 100%;
    a{
      font-size: 1.8rem;
      padding: 2rem;
        text-decoration: none;
        color:#444;
        display: inline-block;

    }
    h1{
        font-size:30px;
        width:50%;
    }
}
